2018130899 영어영문학과 기혜승 영어음성학 수업 내용 정리

-Three kinds of phonetics:
1) Articulatory Phonetics 조음:
2) Acoustic Phonetics 음향: 소리가 공기를 타고 움직인다.
3) Auditory Phonetics 청각: The eardrum exists to amplify sound.

-There are five speech organs (constrictors/articulators):
Lips, tongue tip, tongue body, larynx (voicebox), velum (soft palate) 

-Three major processes in phonetics:
1) phonation process (in larynx)
2) oro-nasal process (in velum)
3) articulatory process (in lip, tongue tip, tongue body)

-The control of constrictors can be defined according to two criterias:
1) constriction location (CL): where exactly?
2) constriction degree (CD): how much exactly?
English consonants and vowels (phonemes) can be identified when given the according constrictors, constriction location, and constriction degree.
Need to know how to apply in PRAAT program!

-praat으로 아 소리 녹음하면 larynx가 떨리는 횟수?를 알 수 있음
녹음하고 확대
praat으로 다시 해보기>>>200 per sec 정도는 나와야 (duration 쟀을 때) woman’s voice

-sine wave: 이를 결정짓는 게 pitch and magnitude.

-결론부터: 세상에 존재하는 모든 시그널은 (모든 소리를 포함한) 다르게 생긴 사인 웨이브의 결합으로 표현된다.

-1번째 사인 웨이브: slow한 것이 frequenc가 작은 것. 그래서 첫 번째 사인 웨이브는 저음이다 (frequenc가 낮다) 첫 번쨰는 1초에 100 번. 두 번쨰는 1초에 200번. 그렇게. magnitude는 첫 번째가 제일 크다.

-하나하나는 simplex tone, 마지막은 complex tone. 심플렉스는 사인 웨이브, 콤플렉스는 사인 웨이브 x

-Q. 왼쪽 그래프에서 x축은? 시간. 세로축은 그저 숫자값. (VALUE)

-오른쪽 그래프들 명칭: SPECTRUM!!!!!!!!!!!!! (x축이 frequency, y축이 amplitude)

-마지막에 도출된 복잡한 신호를 볼 때, 재일 크게 반복되는 부분은 (모자처럼 생긴 부분!)

-**일반적으로 우리가 듣는 소리는 콤플렉스. 여기서보다 훨씬 복잡하게 나오고, 결국 spectrum의 x축이 꽉 차게 나온다. (ex. equalizer)

-위의 심플에서 콤플렉스로 만드는 과정>>synthesis (합성)

-아래의 콤플렉스에서 어떤 것들의 합으로 만들어져 있는지를 보는 것>>(spectral) analysis

-/아/ /이/는 입모양에 따라서 달라지고, 성대에서 최초로 나오는 소리는 음의 높낮이만 다를 뿐, 소리 자체는 동일하다.

-you just need a hose/tube from your intestines to your head. tube 직전에 나는 소리는 항상 똑같다. 이렇게 larynx에서 나는 항상 동일한 소리를 source라고 부르고, 이게 달라지는 과정을 filter라고 한다.

-저 그래프(speech의 source)서 나오는 첫 번째 frequency는 모두에게 동일. F0=fundamental frequency. 점점 magnitude가 작아진다. 계속 곱하기 2 곱하기 3 이렇게 되는 걸 harmonics라고 부른다.

-여자는 F0이 더 높기 때문에 harmonics 사이가 더 듬성듬성.

-ex 시험문제: 10000hz까지 여자의 목소리가 더 뭐가 많을까, 남자의 목소리가 뭐가 더 많을까?

-스펙트로그램에 따르면 low frequency에 갈수록 magnitude가 더 크고, vice versa.

-pure tone 보다는 여러 Hz의 tone을 stere로 합친 것이 훨씬 사람 목소리와 유사하다 (정교하게 하면 사람 목소리랑 똑같이 할 수 있다.) 그렇다면 이 소리는 sin wave를 합친 것일까? no. 동시에 들었지만 합쳐진 것은 아니다.

-stereo<->mono -mono로 만든 것은 complex tone! stereo wasn’t complex because we didn’t actually combine the simplex tones, just heard it at the same time.

-mono의 반복 주기는 F0과 일치!!!!!! 100Hz. 그리고 이 소리가 인지심리학적으로 어떤 소리랑 일치할까?

-view and edit 보면 하나 솟아있고 낮게 되는 것  무한대로 가면 pulse 0000 pulse 0000 의 순서가 된다. 이걸 pulse train이라고 한다.

-F1은 모음의 높낮이를 결정한다. height

-F2는 앞뒤를 결정한다. (front and back)

-한국어 아와 영어 아와 무엇이 다를까? the English form is lower and more back.

-the VowelEditor will play the sound for as long as you click on it, and if you drag it it will become a 이중모음

<<Lesson 1: Variables>>
(HOW TO OPEN: anaconda prompt->'jupyter notebook' enter)

왼쪽에는 껍데기, 오른쪽에는 알맹이.

왼쪽에는 기호, 오른쪽에는 정보. *VARIABLE ASSIGNMENT*

기호에 특정 정보가 할당된다는 것을 보여주기 위해 = 사용. (일반적인 의미의 = 아니다.)

*Shift+Enter는 실행(Run)
*DELETE CELL: Jupyter Notebook에서 cell 눌러 파란색으로 만든 후 x 누른다.

#함수 print(a) = 'a라는 기호의 정보를 출력하라.'

In [7]:
a=1

In [5]:
print(a)

1

#a=1, a=2처럼 같은 정보에 이질적인 정보가 존재할 때는 마지막으로 실행한 것이 (in this case a=1) 함수에 적용된다.

In [6]:
a=2

In [9]:
print(a)

1

#숫자가 아닌 문자/단어를 정보로 설정할 때는 string으로 만들어서 넣어야 한다.
#str(string) = '   '

In [31]:
b='love'

In [15]:
print(b)

love

#숫자가 아닌 문자/단어를 기호로 설정할 때는 그냥 넣으면 된다.

In [20]:
love=2

In [29]:
b=love

In [22]:
print(love)

2

#기호에 정보 할당한 다음에 그 기호 중 하나 적으면 자동으로 print된다

In [25]:
a=1
b=2
c=3
d=4
c

3

#enter 말고 semicolon(;)으로도 식(?) 분할 가능

In [39]:
a=1; b=2; c=3; b

2

In [40]:
print(a); print(b); print(c)

1
2
3

#기호=문자/단어 string일 때 print와 그냥 실행하는 것은 다르다 (!)

In [90]:
b='love'
print(b)
b

love

'love'

In [37]:
#cf)
c=[1, 2]
print(c)
c

[1, 2]

[1, 2]

#함수 type(a) = 'a라는 기호의 종류를 출력하라.'
#list= [    ]
#int(integer) = 정수
#float = 실수

In [41]:
a=[1,2,3,5]

In [42]:
type(a)

list

In [43]:
a=1

In [44]:
type(a)

int

In [45]:
a=1.2

In [46]:
type(a)

float

In [47]:
a='love'

In [48]:
type(a)

str

In [49]:
a=[1,2,3,5,'love']

In [52]:
type(a)

list

In [53]:
a=[1,'love',[1,'bye']]

In [54]:
type(a)

list

#tuple=(   ) like a list but with 그냥 괄호, not 대괄호

In [55]:
a=(1,'love',[1,'bye'])

In [56]:
type(a)

tuple

#dict(dictionary)={'':} Uses indexes to access information. single, double quotations both possible.
#dict와 str,list의 차이점: 단지 여러 항목을 가지는 것이 아니라 pair-wise로 묶을 수 있다

In [60]:
a={'a':'apple', 'b':'banana', "c": 2014}

In [61]:
type(a)

dict

#기호에 정보를 할당한 후에는 기호끼리 더하기, 곱하기도 가능
#더하기 +
#곱하기 *

In [63]:
a=1
b=1
c=a+b
print(c)

2

#컴퓨터에서는 1이 아니라 0부터 센다. 따라서 실제 첫 번째는 코딩에서 0번째, 두 번째는 코딩에서 1번째...
#a[0]=list a에서 0번째 항목의 정보를 access해라.

In [131]:
a=[1,2]
b=[3,4]
c=a[0]+b[0]
d=a[1]+b[1]
print(c)
print(d)

4
6

#note the differences below.

In [73]:
a=1; type(a)

int

In [74]:
a=1; print(type(a))

<class 'int'>

#cont. notice how the type changes.

In [77]:
a=1; a=float(a); print(type(a))

<class 'float'>

In [81]:
a=1.2; a=int(a); print(type(a))

<class 'int'>

In [80]:
a=1.2; a=int(a); print(a)

1

In [82]:
a='123'; print(type(a)); print(a[1])

<class 'str'>
2

#how to use indexes in a dictionary to access information
#indexes can be str or int or...

In [95]:
a={'a':'apple', 'b':'orange', 'c':2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [98]:
a={5.7:'apple',2:345,3:2014}
print(type(a))
print(a[5.7])

<class 'dict'>
apple

#how to use element order in a list to access information

In [105]:
a=[(1,2,3), (3,8,0)]
print(a[0])
type(a[0])

(1, 2, 3)

tuple

<<Lesson 2: String>>

*str과 list의 각각의 정보를 access하는 방법은 완전히 동일하다: 앞서 list에 대한 설명에도 나온 것처럼 list a의 0번째 항목에 접근하려면 a[0]을 하면 된다. 마찬가지로 str에서도 0번째 항목(숫자/문자)에 접근하려면 a[0]을 하면 된다.

#여러 개를 동시에 print할 때 print 이후의 괄호 안에 여러 개를 comma로 나눠 나열해도 된다 (see below)
#by using colons(:), you can print out FROM a certain point TO a certain point. By leaving the space for a number index blank, you are printing out all the information that come before/after.
**첫째 숫자부터 둘째 숫자 이.전.까.지. (remember everything is computer-numbered)

**ex) a=[1,2,3,4]; print(a[1:3], a[1:], a[:3], a[:])
     
     ------------------------------------------------------
     2 3
     2 3 4
     1 2 3 4
     1 2 3 4
     

##순서 매.우. 헷갈리니까 주의해서 볼 것. 지금부터 모든 설명은 '컴퓨터상의 순서'로 설명한다.
#왼쪽부터의 순서: 0부터 센다-->0번째=실제 1번째, 2번째=실제 3번째

 0  1  2  3  4  5
 
-6 -5 -4 -3 -2 -1
#순서가 이렇게 된다.
#오른쪽부터의 순서: -1부터 센다-->-1번째=오른쪽에서 1번째, -4번째=오른쪽에서 4번째

In [121]:
s='abcdef'
n=[100,200,300]
print(s[0], s[5], s[-1], s[-6])
print(s[1:3],s[1:],s[:3],s[:])
print(n[0],n[2],n[-1],n[-3])
print(n[1:2],n[1:],n[:2],n[:])

a f f a
bc bcdef abc abcdef
100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

#len(length)=길이(수치로 나타낸다)

In [124]:
len(s); len(n)

3

#colon을 사용해서 access한 정보도 더하기, 곱하기 가능.

In [133]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

#곱하기는 교환법칙 성립 O. 더하기는 교환법칙 성립 X (적어도 문자에 있어서는. 숫자 더하는 것은 성립).

In [128]:
10*s[4:]+s[3]+s[1]

'efefefefefefefefefefdb'

#문자 str를 모두 대문자 혹은 모두 소문자로 바꾸기

In [142]:
s='abcDEF'

In [143]:
s.upper()

'ABCDEF'

In [144]:
s.lower()

'abcdef'

#How to use 문자 str that are actually sentences (NLP: natural language processing)
#mango, apple, kiwi... -> replace 'result' or really any other random symbol(기호)
#s.find('   ') = '   ' 안에 있는 단어가 >>왼쪽부터<< (컴퓨터상*) 몇 번째부터 시작하는지 표시해라. (아래 같은 문장처럼 같은 단어가 두 개 이상 있으면 >>왼쪽에서 첫 번째로<< 나오는 단어를 찾는다)
#s.rindex('   ) = '   ' 안에 있는 단어가 >>왼쪽부터<< (컴퓨터상*) 몇 번째부터 시작하는지 표시해라. (아래 같은 문장처럼 같은 단어가 두 개 이상 있으면 >>오른쪽에서 첫 번째로<< 나오는 단어를 찾는다) = right index

In [319]:
s=' this is a house built this year.'

In [311]:
mango=s.find('this')
mango

1

In [312]:
kiwi=s.rindex('this')
kiwi

23

In [313]:
#cf) 같은 단어 세 개 이상인 경우: 오른쪽에서 첫 번째!
y=' this i this u this'
result=y.rindex('this')
result

15

#문자 sequence에서 특정 단어가 한 번만 등장한다면 find와 rindex 함수의 결과가 동일하다 (see below)

In [314]:
apple=s.find('house')
apple

11

In [315]:
orange=s.rindex('house')
orange

11

#strip = a copy of a without leading or trailing whitespace

In [320]:
t=s.strip()
t

'this is a house built this year.'

#split = quotation marks 안에 있는 것이 있는 곳마다 쪼개서 list 생성(whitespace by default)

In [321]:
rain=s.split()
rain

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [324]:
#cf)?????
rain=s.split(' ')
rain

['', 'this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [325]:
rain=s.split(',')
rain

[' this is a house built this year.']

In [326]:
rain=s.split('.')
rain

[' this is a house built this year', '']

#' '.join(rain): quotation marks 안에 있는 것으로 괄호 안의 쪼개진 것을 잇는다.

In [327]:
rain=' '.join(rain)
rain

' this is a house built this year '

#rain. replace('a','b'): rain이라는 문장 안에 있는 모든 a라는 단어를 모두 b로 바꾼다.

In [328]:
rain=rain.replace('this','that')
rain

' that is a house built that year '

<<Lesson 3: Syntax>>

Using the 'for loop'

#기본:

for i in a:

(indent***)blahblahblah

--> a 안에 있는 요소를 하나하나씩 i에다가 넣고 순서대로 실행해라.

In [215]:
##그대로 프린트하기 1번째##
a=[1,2,3,4]
for i in a:
    print(i)

1
2
3
4

#range(x)= x 개수만큼 index 만들어준다. (역시나 컴퓨터상 순서.) ex) range(4) --> 0 1 2 3.

In [216]:
##그대로 프린트하기 2번째##(개수를 알 때)
a=[1,2,3,4]
for i in range(4):
    print(a[i])

1
2
3
4

In [211]:
#cf)
for i in range(4):
    print(i)

0
1
2
3

In [218]:
##그대로 프린트하기 3번째##(개수를 모를 때)
a=[1,2,3,4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [221]:
##그대로 프린트하기 4번째##(노가다, 비효율적)
a=[1,2,3,4]
print(a[0])
print(a[1])
print(a[2])
print(a[3])

1
2
3
4

#in string

In [271]:
#cf 1)
b=['red','green','blue','purple']
for s in b:
    print(s)

red
green
blue
purple

#enumerate(열거, 번호매기기-0부터 시작): list, tuple, string처럼 순서가 있는 것들을 입력으로 가지고, 자동적으로 index를 붙여줘서 두 가지 문자를 활용할 수 있다.
ex. a=['breakfast', 'lunch', 'dinner']이라면

for x, y in enumerate(a): >>>>x가 index, y가 a 속의 요소.

    print(y, x+1)
    
----------------------
breakfast 1

lunch 2

dinner 3

In [282]:
a=['apple','mango','grape','kiwi']
b=[0.3,0.2,0.1,0.4]
for index, value in enumerate(a):
    print("{}: {}%".format(value, b[index]*100))

apple: 30.0%
mango: 20.0%
grape: 10.0%
kiwi: 40.0%

#zip(합치기, 둘씩 묶기): '동일한 개수로 이루어진 자료를 묶어주는 함수'

In [284]:
for a_, b_ in zip(a,b):
    print("{}: {}%".format(a_, b_*100))

apple: 30.0%
mango: 20.0%
grape: 10.0%
kiwi: 40.0%

#if: 조건 달기

= assigning variables

== 같다

!= 같지 않다

In [294]:
a=0
if a==0:
    print("yay!")
    print("let's go")

yay!
let's go

In [297]:
if a!=1:
    print("a is not no.1")
if a!=0:
    print("a is not no.0")

a is not no.1

#if에 해당하지 않는 것들은 else로 출력 결과 변경할 수 있다.
#==,!= 말고도 >=, =<도 사용 가능

In [298]:
a=0
if a>=0:
    print("yay!")
    print("let's go!")

yay!
let's go!

In [299]:
a=0
if a!=0:
    print("yay!")
    print("let's go!")
else:
    print("not zero")

not zero

#두 번 for loop

In [300]:
for i in range(1,3):
    for j in range(3,5):
        print(i*j)

3
4
6
8

In [301]:
#cf-print(i)를 하면 위와 달라진다.
for i in range(1,3):
    print(i)
    for j in range(3,5):
        print(i*j)

1
3
4
2
6
8

In [304]:
for i in range(1,3):
    for j in range(3,5):
        if j>=4:
            print(i*j)

4
8

In [307]:
#cf) error. *항상 indent랑 colon 조심해라!! indent 만들어도 해당되는 게 없어서 출력 안 됨*
for i in range(1,3):
    if i>=3:
    for j in range(3,5):
        print(i*j)

IndentationError: expected an indented block (<ipython-input-307-52ea4f7ac138>, line 3)

ADDITIONAL: for in - list

In [308]:
a=[1,2,3,4]
b=[i for i in a if i>=2]
print(b)

[2, 3, 4]

In [309]:
a=['red','blue','green','purple']
b=[i for i in a if len(i)>=4]
print(b)

['blue', 'green', 'purple']

Q. colon을 사용해서 숫자를 print할 때 음의 정수를 넣어도 되는가??